@import url('reset.css');
body {
  background-color: rgb(250,250,250);
  /* background-color: rgb(245,245,245); */
  font-family: 'Open Sans', sans-serif;
}
/* header {
  height: 55px;
  background-color: #1c7cd6;
  background-color: rgb(75,115,176);
  border-bottom: 1px solid rgb(235,235,235);
} */
#main img {
  /* width: 45px; */
  /* position: absolute; */
  /* top: 10px; */
  /* left: 50%; */
  /* margin: 40px 0 40px 45px; */
}
 #main h1 {
  position: relative;
  text-align: center;
  width: 115px;
  margin: auto;
  margin-bottom: 15px;
  /* padding-top: 20px; */
  /* padding-bottom: 10px; */
  height: 26px;
  line-height: 26px;
  /* background: url('/fewgroups/img/logosq8.png') no-repeat center center; */
  background-size: 34px;
  /* border-radius: 2px; */
  /* background-color: #2ab871; */
  /* background-color: #58c6c7; */
  background-color: #42b72a;
  /* background-color: #4DB6AC; */
  /* background-color: #3897f0; */
  /* border: 1px solid rgb(235,235,235); */
  /* background-color: rgb(250,250,250); */
  border-radius: 2px;

  /* color: rgb(144,151,180); */
  color: rgb(255,255,255);

  font-size:90%;
  font-weight: 700;

  cursor: pointer;
}
#main {
  /* background-color: rgb(233,235,238); */
  width: 350px;
  margin: auto;
  margin-top: 110px;

  /* border-radius: 3px; */

  padding-top: 36px;

  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;

  background-color: rgb(255,255,255);
  /* background-color: rgb(250,250,250); */
  border: 1px solid rgb(230,230,230);

}
#main form:nth-child(2) {
  margin-top: 0;
}
#main form {
  width: 78%;

  margin: auto;
  margin-top: 20px;

  box-sizing: border-box;
}
#main form.login_none {
  display: none;
}
#main form.sigin_none {
  display: none;
}
#main form input {
 -webkit-appearance: none;

  width: 100%;
  height: 40px;

  box-sizing: border-box;
  border: none;

  margin-top: 6px;

  outline: none;

  color: rgb(110,110,110);
}

#main form input[name=email] {
  /* background-image: url('/fewgroups/img/email_black.png'); */
  background-size: 20px;
}
#main form input[name=password],
#main form#sigin_form input[name=password1],
#main form#sigin_form input[name=password2] {
  /* background-image: url('/fewgroups/img/password_black.png'); */
  background-size: 20px;
}
#main form#sigin_form input[name=username] {
  /* background-image: url('/fewgroups/img/username_black.png'); */
  background-size: 20px;
}
#main form#sigin_form input[name=email].error_background {
  background-image: url('/fewgroups/img/error_background.png');
  /* border-color: rgb(235,115,115); */
  background-size: 10px;
}
#main form#sigin_form input[name=username].error_background {
  background-image: url('/fewgroups/img/error_background.png');
  /* border-color: rgb(235,115,115); */
  background-size: 10px;
}
#main form#sigin_form input[name=password1].error_background,
#main form#sigin_form input[name=password2].error_background {
  background-image: url('/fewgroups/img/error_background.png');
  /* border-color: rgb(235,115,115); */
  background-size: 10px;
}
#main form#sigin_form input[name=email].tick_background,
#main form#sigin_form input[name=username].tick_background,
#main form#sigin_form input[name=password1].tick_background,
#main form#sigin_form input[name=password2].tick_background {
  background-image: url('/fewgroups/img/tick.png');
  background-size: 17px;
}
#main form input[type=text],
#main form input[type=password] {
  position: relative;
  border: 1px solid rgb(235,235,235);

  padding-left: 25px;

  font-size: 16px;

  background-position: 95% center;

  background-repeat: no-repeat;

  /* background-color: #ededed; */

  /* background-color: #f7f7f7; */
  background-color: rgb(250,250,250);


}
/* #main form#login_form input[type=text],
#main form#login_form input[type=password] {
  background-image: none;
  padding-left: 15px;
} */
#main form input[type=text]:focus,
#main form input[type=password]:focus {
  border: 1px solid rgb(180,180,180);
}
#main form input[type=button] {
  height: 38px;
  width: 94%;
  margin-left: 3%;
  margin-top: 0;
  /* background-color: #6698CB; */
  /* background-color: #4267b2; */
  /* background-color: #3897f0; */
  /* border: 1px solid rgb(235,235,235); */
  background-color: #59a4eb;
  /* background-color: #4350a3; */
  /* background-color: #607D8B; */
  /* background-color: #3897f0; */
  /* background-color: #4267b2; */

  /* color: rgb(144,151,180); */
  color: rgb(255,255,255);

  font-size:90%;
  font-weight: 600;

  cursor: pointer;
  margin-top: 15px;
  border-radius: 2px;
}
#main form:nth-child(3) input[type=button] {
  width: 94%;
  height: 36px;
}
::-webkit-input-placeholder {
  /* font-family: 'Mitr', sans-serif; */
  color: rgb(175,175,175);
	font-size: 11px;
  font-weight: bold;
}

#main form > a {
  display: block;

  text-decoration: none;

  font-size: 75%;

  margin: 20px 0;

  color: rgb(160,160,160);
}
#main div#message {
  width: 80%;
  height: 10px;
  line-height: 10px;
  padding-bottom: 15px;
  margin: auto;
  font-size: 90%;
  /* font-weight: 600; */
  /* margin-top: 10px;
  margin-bottom: 10px; */
  color: #FC6565;
  text-align: center;
}
@media (max-width: 676px) {
  #main {
    width: 100%;

    position: static;

    margin: 0;
    padding-top: 20px;
  }
  #main h1 {
    width: 40%;
    margin: auto;
    margin-bottom: 15px;
  }
  #main form {
    width: 77%
  }
  #main form input {
    height: 38px;
  }
  #main form#login_form input[type=button] {
    height: 40px;
  }
  #main form#sigin_form input[type=button] {
    height: 40px;
  }

  ::-webkit-input-placeholder {
    line-height: 20px;
  }

  @media all and (orientation: portrait) {
    body {
      background-color: rgb(255,255,255);
    }
    #main {
      border-bottom: none;
    }
  }

  @media all and (orientation: landscape) {
    #main {
      width: 60%;
      margin: auto;
    }
  }
}
